<div class="container-fluid">
    <div class="row" style="margin-top: 10px;">
      <div class="form">
        <app-calendar></app-calendar>
      </div>
      <div class="col-6 col-md-3">
          Room {{roomId}} Details here.
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-md-3" *ngFor="let pic of pictures">
            <img [src]="pic" alt="No room image" >
          </div>
        </div>
      </div>
    </div>
  <button class="btn btn-success">Book</button>
</div>